*{
    margin: 0 !important;
    padding: 0 !important;
}
.demo-bulb{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
}
.container{
    width: 100%;
    height: 100%;
    background-color: rgb(89, 82, 97);
}
.line{
    height: 50px;
    width: 3px;
    background-color: black;
    cursor: pointer;
}
.bulb-parent{
    height: fit-content;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.line.clicked{
    background-color: rgb(228, 131, 4);
}
.demo-bulb.clicked{
    background-color: rgb(228, 131, 4);;
}
body{
    height: 100vh;
    width: 100vw;
    position: relative;
}
